section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  border: 1px #000;
}

.flex-container {
  width: 45%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
}

.flex-container img {
  width: 100%;
  border-radius: 10px;
}
.flex-container a {
  color: #0c2f0c;
  margin-top: 10px;
  font-size: 2rem;
}
.contact {
  width: 45%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
}
footer {

  text-align: center;
  padding: 10px;
  background-color: #333333;
  color: white;
}
