span {
    margin: 1rem;
  }

p {
    text-align: center;
    padding: 5rem 1rem 1rem 1rem;
    border: 1px solid #000000;
    box-shadow: 5px 5px 15px #0000004d; 
    border-radius: 5px;
  } 

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  a {
    color: black; /* Change to any color you prefer */
    text-decoration: none; /* Removes the underline */
}

  a:hover {
    color: #8e8e8e; /* When Hovered it changes colors */
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333333;
  color: white;
}